# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual Environments
.env
.venv
env/
venv/

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary Files
*.tmp
